* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #fff;
  }
  .card {
    width: 640px;
    height: 440px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
  }
  .card:hover {
    transform: rotate(5deg);
  }
  .card:hover .outside {
    transform: rotateY(-170deg);
  }
  .outside,
  .inside {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
  }
  .inside {
    background: #000;
    border: #000000 5px solid;
    padding: 0 20px;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
  }
  .back {
    background: #000;
    color: #fff;
    padding: 0 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .back p, .inside p {
    font-size: small;
  }
  .outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  .front {
    background-color: #000000;
    border: #000000 5px solid;
  }
  .back {
    transform: rotateY(180deg);
    border: #000000 5px solid;
  }
  .cake {
    width: 100%;
    position: absolute;
    bottom: 30px;
  }
  .top-layer,
  .middle-layer,
  .bottom-layer {
    height: 80px;
    width: 240px;
    background-repeat: repeat;
    background-size: 60px 100px;
    background-position: 28px 0;
    background-image: linear-gradient(
        transparent 50px,
        #fedbab 50px,
        #fedbab 60px,
        transparent 60px
      ),
      radial-gradient(circle at 30px 5px, #da2497 30px, #fcbf29 31px);
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: auto;
  }
  .middle-layer {
    transform: scale(0.85);
    top: 72px;
    animation: rise-1 2s forwards;
  }
  @keyframes rise-1 {
    100% {
      top: 7px;
    }
  }
  .top-layer {
    transform: scale(0.7);
    top: 144px;
    animation: rise-2 2s 2s forwards;
  }
  @keyframes rise-2 {
    100% {
      top: 26px;
    }
  }
  .candle {
    height: 45px;
    width: 15px;
    background: repeating-linear-gradient(
      45deg,
      #fd3018 0,
      #fd3018 5px,
      #ffa89e 5px,
      #ffa89e 10px
    );
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    animation: rise-3 1s 4s forwards;
  }
  @keyframes rise-3 {
    100% {
      bottom: 202px;
    }
  }
  .candle:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #ffa500;
    border-radius: 0 50% 50% 50%;
    bottom: 48px;
    transform: rotate(45deg);
    left: -1px;
  }
  .candle:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #ffee54;
    border-radius: 0 50% 50% 50%;
    transform: scale(0) rotate(45deg);
    bottom: 50px;
    left: -0.5px;
    animation: flame 1.5s 5s forwards;
  }
  @keyframes flame {
    100% {
      transform: scale(1) rotate(45deg);
    }
  }
  .outside h1 {
    font-weight:bolder;
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    color: #fff;
  }
  .inside h1 {
    font-size: 120px;
    line-height: 120px;
  }